* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(82, 74, 134);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.all {
    display: grid;
    grid-template-columns: 90% 10%;

}

#title {
    color: white;
}

.left {
    border-top: 1px black solid;
    padding-top: 10px;
    background-color: #cdcbe0;
    border-top-right-radius: 24px;
}

/* .right {
    border-left: 1px black solid;
} */

.head {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 10px;
}

.red {
    border-color: red;
}

.black {
    border-color: black;
}


#par {
    padding: 5px;
    color: white;
    background-color: rgb(82, 74, 134);
}
#search_value {
    padding: 5px;
}
#search_button {
    padding: 5px;
    color: white;
    background-color: rgb(82, 74, 134);
}
.sort {
    margin-right: 24px;
}
#id_sort {
    padding: 5px;
    float: right;
    margin-left: 5px;
    background-color: rgb(82, 74, 134);
    color: white;
}
#name_sort {
    padding: 5px;
    float: right;
    border-right: none;
    background-color: rgb(82, 74, 134);
    color: white;
}


/* Стиль для поля с офферами */
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center; /* Центрирует элементы */
    gap: 20px;
}

/* Стиль для каждого оффера */
.offer {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    width: 300px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

    .edit {
        margin: 10px;
        border-radius: 16px;
        background-color: #9e97ca;
        font-weight: bold;
    }
    .delete {
        margin: 10px;
        border-radius: 16px;
        background-color: #9e97ca;
        font-weight: bold;
    }

/* Стиль для каждой строчке в оффере */
span {
    margin-top: 5px;
    margin-bottom: 5px;
}



.need_grid {
    display: grid;
}

.first_span {
    grid-column: 1;
    grid-row: 1;
    margin-right: 5px;
}
.second_span {
    grid-column: 1;
    grid-row: 2;
}
.third_span {
    grid-column: 1;
    grid-row: 3;
}
.fourth_span {
    grid-column: 1;
    grid-row: 4;
}

.first_input {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 5px;
}
.second_input {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 5px;
}
.third_input {
    grid-column: 2;
    grid-row: 3;
    margin-bottom: 5px;
}
.fourth_input {
    grid-column: 2;
    grid-row: 4;
    margin-bottom: 5px;
}

.send_buttons {
    color: white;
    background-color: rgb(82, 74, 134);
}


/* Стиль для страниц */
.paginator {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}


/* Стиль для кнопки создания оффера */
.create {
    margin-top: 300px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 24px;
    background-color: #cdcbe0;
    font-weight: bold;
}

/*Стиль для оверлея, который затемняет и делает всю страницу кроме popup'а неактивной*/
#overlay {
    display: none; /* Скрываем оверлей по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 1000; /* Убедимся, что оверлей выше других элементов */
}

/*Стиль popup окна*/
#popup {
    display: none; /* Скрываем модальное окно по умолчанию */
    padding: 20px;
    background-color: #cdcbe0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed; /* Фиксированное позиционирование */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем для точного центрирования */
    z-index: 1001; /* Убедимся, что окно выше других элементов */
}

#edit_popup {
    display: none; /* Скрываем модальное окно по умолчанию */
    padding: 20px;
    background-color: #cdcbe0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed; /* Фиксированное позиционирование */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем для точного центрирования */
    z-index: 1001; /* Убедимся, что окно выше других элементов */
}
#success {
    display: none; /* Скрываем модальное окно по умолчанию */
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed; /* Фиксированное позиционирование */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем для точного центрирования */
    z-index: 1001; /* Убедимся, что окно выше других элементов */
}

/* Стиль кнопок в popup окне */
.form_button {
    padding: 5px;
}

/* Стиль каждой страницы */
li {
    margin: 10px;
    color: black;
    text-decoration: none;
    border: 1px black solid;
    background-color: black;
    padding: 10px;

}

.page-button {
    margin: 10px;
    color: blue;
    text-decoration: none;
    border: 1px black solid;
    background-color: black;
    padding: 10px;
}

/*Убираем перемещение вперёд и назад*/
.prev {
    display: none;
}

.next {
    display: none;
}